
src/assets/fonts/fontawesome/fontawesome-webfont.eot
src/assets/fonts/fontawesome/fontawesome-webfont.svg
src/assets/fonts/fontawesome/fontawesome-webfont.ttf
src/assets/fonts/fontawesome/fontawesome-webfont.woff
src/assets/fonts/fontawesome/fontawesome-webfont.woff2
src/assets/fonts/fontawesome/FontAwesome.otf
src/scss/bootstrap/
src/scss/fontawesome/
