	<!-- Thank you message view -->
	<div class="container-fluid">
	      <div class="row">
	        <div class="col-12 text-center">
	        	<h1>Thanks for adding a new link</h1>
	        	<h2>New Bookmark added</h2>
	        	<!-- Brings the las added link into this view through the NewLinkService service -->
	        	<a class="large" href="{{newlink[0]}}" target="_blank">{{newlink[0]}}</a>
	        	<div class="separator"></div>
	        	<button class="btn btn-phantom" ng-click="goBack()">Back to the list</button>
	        </div>
	    </div>
	</div>